<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:工作空间的名称   名称随意
 -->
<mapper namespace="com.bw.mapper.UserDao">
	 <select id="login" resultType="com.bw.bean.User" parameterType="com.bw.bean.User">
	 select * from cms_user where username=#{username} and password=#{password}
	 </select>
	 
	 <select id="usertest" resultType="com.bw.bean.User" parameterType="string">
	 select * from cms_user where username=#{_parameter}	 
	 </select>
</mapper>